{% extends "base.html" %}

{% block content %}
	<section class="posts">
		<article class="post">
			<div class="descripcion">
				<figure class="imagen">
					<img src="imagenes/motog.jpg"/>
				</figure>
				<div class="detalles">
					<h2 class="titulo">
						Motorola G
					</h2>
					<p class="caracteristicas">
						
					    Tamaño de pantalla: 5 pulgadas
						Cámara frontal: 2 megapíxeles
					    Cámara trasera: 8 megapíxeles
					    Versión de Android: 4.4 - KitKat
					    RAM: 1024 MB
						Memoria interna: 8 GB (XT1068)/16 GB (XT1063/ XT1069)
						Chipset: Qualcomm Snapdragon 400
						Número de núcleos: 4
						Velocidad máxima: 1,2 GHz
					</p>
					<a class="tag" href="">Smartphone</a>
					<a class="tag" href="">Android</a>
					<a class="tag" href="">Motorola</a>
					<p class="fecha">hace <strong>20</strong>min</p>
					<!--la etiqueta strong es para resaltar-->
				</div>
			</div>
		</article>

		<article class="post">
			<div class="descripcion">
				<figure class="imagen">
					<img src="imagenes/motog.jpg"/>
				</figure>
				<div class="detalles">
					<h2 class="titulo">
						Motorola G
					</h2>
					<p class="caracteristicas">
						
					    Tamaño de pantalla: 5 pulgadas
						Cámara frontal: 2 megapíxeles
					    Cámara trasera: 8 megapíxeles
					    Versión de Android: 4.4 - KitKat
					    RAM: 1024 MB
						Memoria interna: 8 GB (XT1068)/16 GB (XT1063/ XT1069)
						Chipset: Qualcomm Snapdragon 400
						Número de núcleos: 4
						Velocidad máxima: 1,2 GHz
					</p>
					<a class="tag" href="">Smartphone</a>
					<a class="tag" href="">Android</a>
					<a class="tag" href="">Motorola</a>
					<p class="fecha">hace <strong>20</strong>min</p>
					<!--la etiqueta strong es para resaltar-->
				</div>
			</div>
		</article>

		<article class="post">
			<div class="descripcion">
				<figure class="imagen">
					<img src="imagenes/motog.jpg"/>
				</figure>
				<div class="detalles">
					<h2 class="titulo">
						Motorola G
					</h2>
					<p class="caracteristicas">
						
					    Tamaño de pantalla: 5 pulgadas
						Cámara frontal: 2 megapíxeles
					    Cámara trasera: 8 megapíxeles
					    Versión de Android: 4.4 - KitKat
					    RAM: 1024 MB
						Memoria interna: 8 GB (XT1068)/16 GB (XT1063/ XT1069)
						Chipset: Qualcomm Snapdragon 400
						Número de núcleos: 4
						Velocidad máxima: 1,2 GHz
					</p>
					<a class="tag" href="">Smartphone</a>
					<a class="tag" href="">Android</a>
					<a class="tag" href="">Motorola</a>
					<p class="fecha">hace <strong>20</strong>min</p>
					<!--la etiqueta strong es para resaltar-->
				</div>
			</div>
		</article>

		<article class="post">
			<div class="descripcion">
				<figure class="imagen">
					<img src="imagenes/motog.jpg"/>
				</figure>
				<div class="detalles">
					<h2 class="titulo">
						Motorola G
					</h2>
					<p class="caracteristicas">
						
					    Tamaño de pantalla: 5 pulgadas
						Cámara frontal: 2 megapíxeles
					    Cámara trasera: 8 megapíxeles
					    Versión de Android: 4.4 - KitKat
					    RAM: 1024 MB
						Memoria interna: 8 GB (XT1068)/16 GB (XT1063/ XT1069)
						Chipset: Qualcomm Snapdragon 400
						Número de núcleos: 4
						Velocidad máxima: 1,2 GHz
					</p>
					<a class="tag" href="">Smartphone</a>
					<a class="tag" href="">Android</a>
					<a class="tag" href="">Motorola</a>
					<p class="fecha">hace <strong>20</strong>min</p>
					<!--la etiqueta strong es para resaltar-->
				</div>
			</div>
		</article>
	</section>
{% endblock content %}
